{% extends "auth_base.html" %} {% load static %} {% block content %}
<div class="login-error red-text text-red lighten-1">
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
</div>
<div class="card">
    <form action="" method="post">
        {% csrf_token %}
        <div class="card-content">
            <div class="row">
                <div class="input-field col s12 center">
                    <img src="{% static " images/login-logo.png " %}" alt="" class="circle responsive-img valign profile-image-login">
                    <p class="center login-form-text">
                        <h4 class="header">Reset Password</h4>
                    </p>
                </div>
            </div>
            {{ form.email }}
        </div>
        <div class="card-action">
            <div class="row">
                <input type="button" onclick="window.history.back();" class="btn waves-effect waves-light left" value="Back" />                
                <input type="submit" class="btn waves-effect waves-light right" value="Reset password" />
            </div>
        </div>
    </form>
</div>
{% endblock content %}

    